<div class="container-fluid" style="border: 1px solid #000000">
  <div class="row">
    <div class="col-sm-12" style='padding:0'>
        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
            <mdb-carousel-item  class='module'>
              <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
            </mdb-carousel-item>
            <mdb-carousel-item  class='module'>
              <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
            </mdb-carousel-item>
            <mdb-carousel-item  class='module'>
              <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
            </mdb-carousel-item>
          </mdb-carousel>
          <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
              <mdb-carousel-item  class='module'>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
              </mdb-carousel-item>
              <mdb-carousel-item  class='module'>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
              </mdb-carousel-item>
              <mdb-carousel-item  class='module'>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
              </mdb-carousel-item>
            </mdb-carousel>
            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                <mdb-carousel-item  class='module'>
                  <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
                </mdb-carousel-item>
                <mdb-carousel-item  class='module'>
                  <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
                </mdb-carousel-item>
                <mdb-carousel-item  class='module'>
                  <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
                </mdb-carousel-item>
              </mdb-carousel>
              <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                  <mdb-carousel-item  class='module'>
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
                  </mdb-carousel-item>
                  <mdb-carousel-item  class='module'>
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
                  </mdb-carousel-item>
                  <mdb-carousel-item  class='module'>
                    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
                  </mdb-carousel-item>
                </mdb-carousel>
                <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                    <mdb-carousel-item  class='module'>
                      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
                    </mdb-carousel-item>
                    <mdb-carousel-item  class='module'>
                      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
                    </mdb-carousel-item>
                    
                    <mdb-carousel-item  class='module'>
                      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
                    </mdb-carousel-item>
                  </mdb-carousel>
      <!-- <div role='main' class="modules">
        <div class='module'>
            <img src="https://snagfilms-a.akamaihd.net/7fa0ea9a-9799-4417-99f5-cbb5343c551d/images/cc/04/973b2d1f474192eb3bd1cea4f2b2/1546796794019_gajumbotron_16x9Images.jpg?impolicy=resize&amp;w=1366&amp;h=915.22" data-src="https://snagfilms-a.akamaihd.net/7fa0ea9a-9799-4417-99f5-cbb5343c551d/images/cc/04/973b2d1f474192eb3bd1cea4f2b2/1546796794019_gajumbotron_16x9Images.jpg?impolicy=resize&amp;w=1366&amp;h=915.22" class="" alt="Generation Aami">
        </div>
        <div class='module'>
            <img src="https://snagfilms-a.akamaihd.net/7fa0ea9a-9799-4417-99f5-cbb5343c551d/images/cc/04/973b2d1f474192eb3bd1cea4f2b2/1546796794019_gajumbotron_16x9Images.jpg?impolicy=resize&amp;w=1366&amp;h=915.22" data-src="https://snagfilms-a.akamaihd.net/7fa0ea9a-9799-4417-99f5-cbb5343c551d/images/cc/04/973b2d1f474192eb3bd1cea4f2b2/1546796794019_gajumbotron_16x9Images.jpg?impolicy=resize&amp;w=1366&amp;h=915.22" class="" alt="Generation Aami">
        </div>
        <div class='module'>
            <img src="https://snagfilms-a.akamaihd.net/7fa0ea9a-9799-4417-99f5-cbb5343c551d/images/cc/04/973b2d1f474192eb3bd1cea4f2b2/1546796794019_gajumbotron_16x9Images.jpg?impolicy=resize&amp;w=1366&amp;h=915.22" data-src="https://snagfilms-a.akamaihd.net/7fa0ea9a-9799-4417-99f5-cbb5343c551d/images/cc/04/973b2d1f474192eb3bd1cea4f2b2/1546796794019_gajumbotron_16x9Images.jpg?impolicy=resize&amp;w=1366&amp;h=915.22" class="" alt="Generation Aami">
        </div>
      </div> -->
      
    </div>
  </div>
</div>